## input and print

In [389]:
name = input("please input your name:") # prompt input and grab value
print(f"hello {name}") # string interpolation

please input your name: walker

hello walker

In [392]:
print("escape to print control characters:")
print("="*34)
print("'hello\\nworld' => hello\nworld")
print("'hello\\tworld' => hello\tworld")
print("\\r是本行回车，并且编辑模式变成了替换而非插入：'ABCDE\\r123' =>")
print("ABCDE\r123")

print("\nunescape, to print raw string")
print("="*29)
print(r"r'hello\nworld' => hello\nworld")
print(R"R'hello\nworld' => hello\nworld")

escape to print control characters:
==================================
'hello\nworld' => hello
world
'hello\tworld' => hello	world
\r是本行回车，并且编辑模式变成了替换而非插入：'ABCDE\r123' =>
123DE

unescape, to print raw string
=============================
r'hello\nworld' => hello\nworld
R'hello\nworld' => hello\nworld

## vars

In [3]:
# 变量名规则
myname = "walker"
my_name = "walker2"
myName = "walker3"
_my_name = "walker4"
MyName = "walker5"

## type

In [140]:
values = (
123, 1.23, 123j, "123",
    [1, 2],
    {1, 2},
    (1, 2),
    (), (1,), # (1)是 int，(1,)才是tuple
    {}, {1},  # { }是 dict，不是空set
    [], [1]
)
for value in values:
    if(isinstance(value, str)):
        print(f"\"{str(value)}\"\t type: \t {type(value)}")
    else:
        print(f"{str(value)}\t type: \t {type(value)}")
        
# 注意以下：
v = 1, 2
print(f"(1)\t type: \t {type((1))} \t (1) 是 int")
print(f"1, 2\t type: \t {type(v)}  1,2 是 tuple")

123	 type: 	 <class 'int'>
1.23	 type: 	 <class 'float'>
123j	 type: 	 <class 'complex'>
"123"	 type: 	 <class 'str'>
[1, 2]	 type: 	 <class 'list'>
{1, 2}	 type: 	 <class 'set'>
(1, 2)	 type: 	 <class 'tuple'>
()	 type: 	 <class 'tuple'>
(1,)	 type: 	 <class 'tuple'>
{}	 type: 	 <class 'dict'>
{1}	 type: 	 <class 'set'>
[]	 type: 	 <class 'list'>
[1]	 type: 	 <class 'list'>
(1)	 type: 	 <class 'int'> 	 (1) 是 int
1, 2	 type: 	 <class 'tuple'>  1,2 是 tuple

## number

In [46]:
num1 = 100
num2 = 3
num3 = num1 + num2
num4 = num1 - num2
num5 = num1 * num2
num6 = num1 ** num2  # 幂运算
num7 = num1 / num2
num8 = num1 // num2  # 整除
num9 = num1 % num2
num10 = num1 << num2  # num1 * 2^num2
num11 = num1 >> num2  # num1 // 2^num2

num3,num4,num5,num6,num7,num8,num9,num10,num11

(103, 97, 300, 1000000, 33.333333333333336, 33, 1, 800, 12)

### complex number

In [55]:
num1 = 100j
num2 = 2j
num3 = num1 + num2
num4 = num1 - num2
num5 = num1 * num2
num6 = num1 / num2
num8 = num1 ** num2 # 虚数的虚数次幂
num9 = 100 ** num2  # 实数的虚数次幂
num10 = num1 ** 3   # 虚数的实数次幂 (同num5, i*i=-1)
num3,num4,num5,num6, num8, num9, num10

(102j,
 98j,
 (-200+0j),
 (50+0j),
 (-0.04222415656172525+0.009195832445129897j),
 (-0.9770962286732339+0.21279793211528997j),
 (-0-1000000j))

### bitwise operators

In [95]:
A = 12
B = 9

bin(A), bin(B)

('0b1100', '0b1001')

$$
\begin{array}{|c|c|c|c|c|l|}
\hline
A&1&1&0&0&=12\\
\hline
B&1&0&0&1&=9\\
\hline
\&&1&0&0&0&=8\\
\hline
|&1&1&0&1&=13\\
\hline
\land&0&1&0&1&=5\\
\hline
\sim A&0&0&1&1&=\color{red}{-13}?\\
\hline
\sim A\color{red}{\&}{15}&0&0&1&1&=3\\
\hline
A\ll1&1&0&0&00&=\color{red}{24}?\\
\hline
A\ll1 \color{red}{\&} 15&1&0&0&0&=8\\
\hline
A\gg1&0&1&1&0&=6\\
\hline
\end{array}
$$

In [394]:
# 15 = 0b1111， &15 就是与0b1111进行位与的运算
print(f'''
A&B \t= {A&B}
A|B \t= {A|B}
A^B \t= {A^B}
~A \t= {~A}
~A&15 \t= {~A&15}
A<<1 \t= {A<<1}
A<<1&15 = {A<<1&15}
A>>1 \t= {A>>1}
''')

A&B 	= 8
A|B 	= 13
A^B 	= 5
~A 	= -13
~A&15 	= 3
A<<1 	= 24
A<<1&15 = 8
A>>1 	= 6

In [393]:
# 取整和四舍五入
import math
print(f'''
int(3.4) \t= {int(3.4)}
int(3.5) \t= {int(3.5)}
math.floor(3.4)\t= {math.floor(3.4)}
math.ceil(3.4) \t= {math.ceil(3.4)}
round(3.4) \t= {round(3.4)}
round(3.5) \t= {round(3.5)}
''')

int(3.4) 	= 3
int(3.5) 	= 3
math.floor(3.4)	= 3
math.ceil(3.4) 	= 4
round(3.4) 	= 3
round(3.5) 	= 4

## string format

### printf style (%)

In [18]:
print('my name is %s, ' % "walker")

# 多个变量时用tuple包起来
print('%s, %.2f, %.10f' % ("math", 2, 3))

# use dict
print('His name is %(name)s, age is %(age)03d.' %
      {"name": "John", "age": 28})

my name is walker,
math, 2.00, 3.0000000000
His name is John, age is 028.

### str.format

In [36]:
# 位置参数
print('{}/{:03d}/{:.2f}'.format('walker',23,3.1415))
# 命名参数
print('{item}\'s price is {price:.2f}'.format(item="chair", price=22))

walker/023/3.14
chair's price is 22.00

### template

In [142]:
from string import Template
s = Template('$name is $age')
print(s.substitute(name='Tim', age=17))
d = dict(name='Tim')
# print(Template('$name is $age').substitute(d))  # KeyError: 'age'
print(Template('$name is $age. (safe_substitute)').safe_substitute(d))

Tim is 17
Tim is $age. (safe_substitute)

### interpolation

In [125]:
str1 = "hello"
num = 123
print(f'{str1}, {num}, {num:04d}, {num:.2f}')

hello, 123, 0123, 123.00

## list

In [396]:
arr = [1, 2, 3, "4", "5", [1, "2"], {"name":"John", "age": 18}]
print(f'''
arr[0] = {arr[0]} {type(arr[0])}
arr[3] = {arr[3]} {type(arr[3])}
arr[5] = {arr[5]} {type(arr[5])}
arr[5][1] = '{arr[5][1]}'
arr[6]["age"] = {arr[6]["age"]}
length is {len(arr)}
arr[-1]: the last element is {arr[-1]}
''')
print(f"init from string '1 2 3 4 5':\n{'1 2 3 4 5'.split(' ')}")

arr[0] = 1 <class 'int'>
arr[3] = 4 <class 'str'>
arr[5] = [1, '2'] <class 'list'>
arr[5][1] = '2'
arr[6]["age"] = 18
length is 7
arr[-1]: the last element is {'name': 'John', 'age': 18}

init from string '1 2 3 4 5':
['1', '2', '3', '4', '5']

In [397]:
# 增、删、改
arr1 = arr.copy()
arr1.append("a")
arr1.append(["x", "y", "z"]) # append 是作为单个元素添加的
arr1 += ["r", "s", "t"] # 数组相加是把数组元素一个个添加的
arr1.extend([11, 12, 13]) # 等同于数组相加
arr1[-1] = "hello world" # 13 变成了hello world
arr1

[1,
 2,
 3,
 '4',
 '5',
 [1, '2'],
 {'name': 'John', 'age': 18},
 'a',
 ['x', 'y', 'z'],
 'r',
 's',
 't',
 11,
 12,
 'hello world']

In [184]:
arr2 = [0, 1, 2, 3, 4, [5, 6, 7, [8, 9]], 3]
arr3 = arr2
arr4 = arr2.copy()
id(arr2), id(arr3), id(arr4)

(140373069115656, 140373069115656, 140373068936264)

In [185]:
del arr3[0]
print(f"arr2: {arr2}\narr3: {arr3}")

# pop
el = arr4.pop(0)
print(f"the element at index 0 is '{el}' has been removed\n{arr4}")

# remove
arr4.remove(3)
print(f"the FIRST element '3' has been removed\n{arr4}")

arr2: [1, 2, 3, 4, [5, 6, 7, [8, 9]], 3]
arr3: [1, 2, 3, 4, [5, 6, 7, [8, 9]], 3]
the element at index 0 is '0' has been removed
[1, 2, 3, 4, [5, 6, 7, [8, 9]], 3]
the FIRST element '3' has been removed
[1, 2, 4, [5, 6, 7, [8, 9]], 3]

### reverse

In [284]:
# list
arr5 = [1,2,3,4,5,6,7,8,9,0]
arr6 = arr5.reverse()
print("reverse() returns nothing, it change the list itself")
print(f"arr6 = {arr6}")
print(f"arr5 = {arr5}")
print(f"use subscript operator: arr5[-1::-1]:\n{arr5[-1::-1]}")

# string
str_a = "ABCDEFG"
print(f"''.join(reversed(str_a)): {''.join(reversed(str_a))}")
print(f"sorted(str_a, reverse=True): {''.join(sorted(str_a, reverse=True))}")

reverse() returns nothing, it change the list itself
arr6 = None
arr5 = [0, 9, 8, 7, 6, 5, 4, 3, 2, 1]
use subscript operator: arr5[-1::-1]:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
''.join(reversed(str_a)): GFEDCBA
sorted(str_a, reverse=True): GFEDCBA

## tuple

In [204]:
tua = (1, 2, 3, 1)
tub = "a", "b"
tuc = (5,)
tud = (1, 2, [3, 4], (5, 6))

tuc += tub
tuc += tud
print(tuc)

(5, 'a', 'b', 1, 2, [3, 4], (5, 6))

### 解包 (unpack)

In [211]:
tuda, tudb,[tucd1, tucd2], (tudd3, tudd4) = tud
tuda, tudb, tucd1, tucd2, tudd3, tudd4

(1, 2, 3, 4, 5, 6)

## slice (string, list, tuple)

In [294]:
d_str = "0123456789abcdefghi"
d_arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
d_tup = tuple(d_arr)

print(f'''
d_arr[-1] \t pick the last element:\t {d_arr[-1]}
d_str[::2] \t pick every 2 elements:\t {d_str[::2]}
d_str[-1::-1] \t pick from the tail:\t {d_str[-1::-1]}
d_str[2:8] \t pick from 2 to 8:\t {d_str[2:8]}
d_tup[1:8:2] \t pick from tuple:\t {d_tup[1:8:2]}
''')

d_arr[-1] 	 pick the last element:	 9
d_str[::2] 	 pick every 2 elements:	 02468acegi
d_str[-1::-1] 	 pick from the tail:	 ihgfedcba9876543210
d_str[2:8] 	 pick from 2 to 8:	 234567
d_tup[1:8:2] 	 pick from tuple:	 (1, 3, 5, 7)

## set

In [295]:
arrA = [1, 1, 2, 3, 4, 5, 3]
setA = set(arrA)
setB = {3, 5, 8, 9, 10}
setC = set("hello")
print(f"setC from string 'hello': {setC}")
print(f'''
array: {arrA},\nset会去重: {setA}
A, B交集：{setA & setB}
A, B并集：{setA | setB}
A, B差集：{setA - setB} <=只有A有的
A, B对称差集： {setA ^ setB} <= 不会同时出现在A,B中的元素，（交集的补集）
''')

setC from string 'hello': {'o', 'e', 'h', 'l'}

array: [1, 1, 2, 3, 4, 5, 3],
set会去重: {1, 2, 3, 4, 5}
A, B交集：{3, 5}
A, B并集：{1, 2, 3, 4, 5, 8, 9, 10}
A, B差集：{1, 2, 4} <=只有A有的
A, B对称差集： {1, 2, 4, 8, 9, 10} <= 不会同时出现在A,B中的元素，（交集的补集）

## string

In [302]:
str_a = "hello world"
print(f'''
str_a.upper() \t {str_a.upper()}
str_a.lower() \t {str_a.lower()}
str_a.find('l')  {str_a.find('l')}
str_a.replace('l','A', 2) {str_a.replace('l','A', 2)}
''')

str_a.upper() 	 HELLO WORLD
str_a.lower() 	 hello world
str_a.find('l')  2
str_a.replace('l','A', 2) heAAo world

## dict

In [355]:
dict_str = {"name1":"martin1", "name2":"martin2", "name3":"name3"}
dict_num = {1:2, 3:4, 5:6, 7:8}
dict_mix = {"name":"martin", "age":12, "sex":"male"}

print(f'''
dict_str: {dict_str}
dict_num: {dict_num}
dict_mix: {dict_mix}
\nread by key:
dict_str["name1"] = {dict_str["name1"]}
dict_num[3] = {dict_num[3]}
''')

# modity
dict_mix["age"]=20
dict_mix.update({"sex": "female"})
print('''
modify:
dict_mix["age"]=20
dict_mix.update({"sex": "female"})
dict_mix = %s
'''%dict_mix)

# add
dict_num.update({9:10})
dict_num[11] = 12
print('''
add k/v pair
dict_num[11] = 12
dict_num.update({9:10})
dict_num = %s
'''%dict_num)

#delete
del dict_num[11]
print(f'''
delete
del dict_num[11]
dict_num = {dict_num} 
''')

dict_str: {'name1': 'martin1', 'name2': 'martin2', 'name3': 'name3'}
dict_num: {1: 2, 3: 4, 5: 6, 7: 8}
dict_mix: {'name': 'martin', 'age': 12, 'sex': 'male'}

read by key:
dict_str["name1"] = martin1
dict_num[3] = 4


modify:
dict_mix["age"]=20
dict_mix.update({"sex": "female"})
dict_mix = {'name': 'martin', 'age': 20, 'sex': 'female'}


add k/v pair
dict_num[11] = 12
dict_num.update({9:10})
dict_num = {1: 2, 3: 4, 5: 6, 7: 8, 9: 10, 11: 12}


delete
del dict_num[11]
dict_num = {1: 2, 3: 4, 5: 6, 7: 8, 9: 10}

In [318]:
## 类型转换

In [388]:
print(f'''
int('123') \t = {int('123')}
int(123) \t = {int(123)}
int('123.45') \t = invalid
int(123.45) \t = {int(123.45)}
int('abc123') \t = invalid
float('67.89') \t = {float('67.89')}
float(67.89) \t = {float(67.89)}
float(100) \t = {float(100)}
\n
str(123.5) \t = {str(123)}
str(['a','b']) \t = {str(['a','b'])}
str(set(1,2)) \t = {str({1,2})}
str(('a','b',3)) = {str(('a','b',3))}
str(['a',2,'5']) = {str(['a',2,'5'])}
\n
set([1,2,3,2]) \t = {set([1,2,3,2])}
set((1,2,2)) \t = {set(((1,2,2)))}
\n
tuple(['a','b','c']) \t = {tuple(['a','b','c'])}
tuple(set([1,2,2])) \t = {tuple({1,2,3,2})}
\n
list((1,2,'a')) \t = {list((1,2,'a'))}
list(set(['a','b','a'])) = {list({'a','b','a'})}
''')

int('123') 	 = 123
int(123) 	 = 123
int('123.45') 	 = invalid
int(123.45) 	 = 123
int('abc123') 	 = invalid
float('67.89') 	 = 67.89
float(67.89) 	 = 67.89
float(100) 	 = 100.0


str(123.5) 	 = 123
str(['a','b']) 	 = ['a', 'b']
str(set(1,2)) 	 = {1, 2}
str(('a','b',3)) = ('a', 'b', 3)
str(['a',2,'5']) = ['a', 2, '5']


set([1,2,3,2]) 	 = {1, 2, 3}
set((1,2,2)) 	 = {1, 2}


tuple(['a','b','c']) 	 = ('a', 'b', 'c')
tuple(set([1,2,2])) 	 = (1, 2, 3)


list((1,2,'a')) 	 = [1, 2, 'a']
list(set(['a','b','a'])) = ['a', 'b']

# random

In [2]:
import random
print(f'''
random.randint(1,10) 产生 1 到 10 的一个整数型随机数: {random.randint(1,10)}
random.random() 产生 0 到 1 之间的随机浮点数: {random.random()}
random.uniform(1.1,5.4) 产生两个数字之间的随机浮点数:{random.uniform(1.1,5.4)}
random.randrange(1,100,2) 生成从1到100的间隔为2的随机整数: {random.randrange(1,100,2)}
random.sample("123456", 4) 从当前的字符中选取4个字符:{random.sample("123456", 4)}
''')

random.randint(1,10) 产生 1 到 10 的一个整数型随机数: 6
random.random() 产生 0 到 1 之间的随机浮点数: 0.08186325202260325
random.uniform(1.1,5.4) 产生两个数字之间的随机浮点数:3.419593527294685
random.randrange(1,100,2) 生成从1到100的间隔为2的随机整数: 59
random.sample("123456", 4) 从当前的字符中选取4个字符:['5', '3', '2', '1']