In [13]:
"""
下面这个程序是练习打印语句
下面这个程序是联系打印语句
下面这个程序是联系打印语句
下面这个程序是联系打印语句

"""

print("hello world")
print(r"hello \n world")
print("hello \t world")
print("hello \r world")  # 这个程序是打印 world

hello world
hello \n world
hello 	 world
 world

In [21]:
name = "zhangsan"
Name = "zhangsan"
_name = "zhangsan"
name2 = "zhangsan"
# 2name = "zhangsan"
# import = "zhangsan"
first_name = "first_zhang"

name, Name, _name, name2, first_name# import  2name # SyntaxError

('zhangsan', 'zhangsan', 'zhangsan', 'zhangsan', 'first_zhang')

In [24]:
# 数字类型
a = 123
b = 123.
c = 123j  # 复数

d = "123"

e = [1, 2, 3]  # list

f = (1, 2, 3) # tuple

g = {1:"1", 2:"2"} # dict

h = {1, 2, 3}  # set

i = (1)  # int

k = (1,) # 

type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h), type(i), type(k)

(int, float, complex, str, list, tuple, dict, set, int, tuple)

In [41]:
num1 = 100
num2 = 2

num3 = num1 + num2
num4 = num1 - num2
num5 = num1 * num2
num6 = num1 / num2

# num3, num4, num5, num6

num7 = num1 ** num2  # 100 ^ 2
# num7

num8 = num1 // num2
# num8

num9 = num1 % num2
# num9

num10 = num1 << num2  # 100 * 2^4
# num10 

num11 = num1 >> num2  # 100 / 4=2^2
# num11

In [50]:
num1 = 100.
num2 = 2.3

num3 = num1 + num2
num4 = num1 - num2
num5 = num1 * num2
num6 = num1 / num2

# num3 , num4 , num5, num6

num7 = num1 % num2
# num7

num8 = num1 // num2
num8

num9 = num1 ** num2
num9

39810.71705534969

In [51]:
num1 = 100j
num2 = num1 **2
num2

(-10000+0j)

In [68]:
num1 = 8  # 峰值
num2 = 10

num3 = num1 & num2 
num3

8

In [69]:
bin(num1), bin(num2)

('0b1000', '0b1010')

In [70]:
int(0b1000)

8

In [72]:
num1 = 8  # 峰值
num2 = 7

num3 = num1 | num2 
num3

15

In [73]:
bin(num1), bin(num2)

('0b1000', '0b111')

In [74]:
int(0b1111)

15

In [75]:
num1 = 8
num2 = oct(num1)
num3 = hex(num1)
num4 = bin(num1)

num2 ,num3, num4

('0o10', '0x8', '0b1000')

In [77]:
num2 = 1.4  # 1
num3 = 1.6  # 2

num2 = int(num2+0.5) # 1.9 -- 1
num3 = int(num3+0.5) # 2.1 -- 2

num2, num3

(1, 2)

### string

In [78]:
str1 = "123456789"

In [80]:
str2 = str1[0]
str2

'1'

In [81]:
str3 = str1[0:5]
str3

'12345'

In [82]:
str4 = str1[0:5:2]
str4

'135'

In [83]:
str5 = str3 + str4
str5

'12345135'

In [84]:
str6 = str3 * 2
str6

'1234512345'

In [85]:
str7 = str1[::-1]
str7

'987654321'

In [86]:
chars = " "
info = "123456"
info = chars.join(info)
info

'1 2 3 4 5 6'

In [95]:
strs = "ab2cdEFG"
strs = strs.lower()
strs

'ab2cdefg'

In [96]:
# help(str)

In [97]:
strs.find("2")

2

In [99]:
strs.replace("2", "0")

'ab0cdefg'

List

In [112]:
str_list = ["1", "2", "123", "456"]
num_list = [1, 2, 3, 45, 56]
mix_list = ["1", "2", 56, 45]

str_list, num_list, mix_list

(['1', '2', '123', '456'], [1, 2, 3, 45, 56], ['1', '2', 56, 45])

In [103]:
# def name():
#     return 1, 2

In [104]:
len(str_list)

4

In [105]:
str_list[0]

'1'

In [108]:
str_list[0:2]

['1', '2']

In [109]:
str_list[0:4:2]

['1', '123']

In [110]:
str_list[-1]

'456'

In [111]:
str_list[::-1]

['456', '123', '2', '1']

In [116]:
str_list = ["1", "2", "123", "456"]
str_list[2] = "zhangsan"
str_list

['1', '2', 'zhangsan', '456']

In [119]:
str_list.append("d")
str_list

['1', '2', 'zhangsan', '456', 'd', 'd']

In [120]:
str_list.append([1, "d", "e", 2])
str_list

['1', '2', 'zhangsan', '456', 'd', 'd', [1, 'd', 'e', 2]]

In [123]:
str_list = str_list + [1, "d", "e", 2]
str_list

['1', '2', 'zhangsan', '456', 'd', 'd', [1, 'd', 'e', 2], 1, 'd', 'e', 2]

In [127]:
str_list.extend([0, "0", "0", 0])
# str_list

In [129]:
str_list.insert(0, "zhangsan")
# str_list

In [135]:
# str_list = ["1", "2", "123", "456"]
# del str_list[0]
# del str_list[0:2]
# del str_list[0:4:2]
# str_list

In [148]:
str_list =  ["1", "2", "123", "456"]
id(str_list)

140270349440456

In [149]:
str_list1 = str_list.copy()
id(str_list1)

140270349594056

In [150]:
del str_list
str_list1 + ["123"]

['1', '2', '123', '456', '123']

In [151]:
new_list = [1, 2, 3, 4, 5, 6]
new_list.reverse()
new_list

[6, 5, 4, 3, 2, 1]

In [154]:
strs = "1020340506070809"
char_list = strs.split("0")
char_list

['1', '2', '34', '5', '6', '7', '8', '9']

In [184]:
import random

# dir(random)
# help(random.random)

In [170]:
print(random.randint(1, 10))

7

In [181]:
random.random()

0.35599141792056055

In [182]:
random.uniform(1.1, 5.4)

4.612076924179183

In [185]:
random.randrange(1, 100, 2)

15

In [186]:
random.sample("zhangsan", 5)

['s', 'h', 'n', 'n', 'z']

In [193]:
temp_list = ["./home/0.0001.jpg","./home/0.0002.jpg","./home/0.0003.jpg","./home/0.0004.jpg","./home/0.0005.jpg"]
random.shuffle(temp_list)
temp_list

['./home/0.0004.jpg',
 './home/0.0003.jpg',
 './home/0.0002.jpg',
 './home/0.0001.jpg',
 './home/0.0005.jpg']

In [202]:
info_list = ["1","2","3","4","5","6","7","8","9","0","a","b","c","d","e","f","g","h","i","j","k","l","m","n"
             ,"o","p","q","r","s","t","u","v","w","x","y","z","A","B","C","D","E","F","G","H","I","G","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
info = "".join(info_list)
new_info = "".join(random.sample(info, 5))
new_info

'drNj9'

set

In [205]:
classes = ["coffee", "tea", "juice", "coffee", "juice", "tea", "coffee"]
new_class = set(classes)
len(new_class)

3

In [208]:
classes2 = ["tea", "juice"]
classes3 = list(set(classes) - set(classes2))
classes3

['coffee']

In [214]:
num1 = set("1234567")
num1

{'1', '2', '3', '4', '5', '6', '7'}

In [215]:
num2 = set("7890")
num2

{'0', '7', '8', '9'}

In [216]:
num1 & num2

{'7'}

In [217]:
num1 | num2

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [221]:
str_tuple = ("1", "2", "123", "456")
num_tuple = (1, 2, 3, 45, 56)
mix_tuple = ("1", "2", 56, 45)

print(len(str_tuple))
print(str_tuple[0])
print(str_tuple[1:5])
print(str_tuple[1:5:2])

4
1
('2', '123', '456')
('2', '456')

In [223]:
new_tuple = str_tuple + num_tuple
new_tuple

('1', '2', '123', '456', 1, 2, 3, 45, 56)

In [226]:
info1 = ("a_info", "b_info")  # tuple
info2 = ("c_info", "d_info", ("e_info", "f_info"))  # tuple

a, b = info1
print(f"a={a}, b={b}")

c, d , (e, f) = info2
c, d, e, f

a=a_info, b=b_info

('c_info', 'd_info', 'e_info', 'f_info')

In [227]:
dict_str = {"name1":"martin1", "name2":"martin2", "name3":"name3"}
dict_num = {1:2, 3:4, 5:6, 7:8}
dict_mix = {"name":"martin", "age":12, "sex":"male", 1:"img"}

In [230]:
dict_num[1]

2

In [231]:
dict_str["name1"] = "zhangsan"
dict_str

{'name1': 'zhangsan', 'name2': 'martin2', 'name3': 'name3'}

In [232]:
dict_str["name4"] = "name4"
dict_str

{'name1': 'zhangsan', 'name2': 'martin2', 'name3': 'name3', 'name4': 'name4'}

In [233]:
dict_str.update({"name5":"name5"})
dict_str

{'name1': 'zhangsan',
 'name2': 'martin2',
 'name3': 'name3',
 'name4': 'name4',
 'name5': 'name5'}

In [234]:
del dict_str["name1"]
dict_str

{'name2': 'martin2', 'name3': 'name3', 'name4': 'name4', 'name5': 'name5'}

In [235]:
num1 = 123.0
num2 = int(num1) # 123
num3 = str(num1) # str

str1="123.0"
num4 = float(str1)

str2 = "123"
num5 = int(str2)

num1, num2, num3, num4, num5

(123.0, 123, '123.0', 123.0, 123)

In [258]:
def square(x):
    return x**2

m = map(square, [1, 2, 3, 4])

# n = *map(square, [1, 2, 3, 4])

print(*m)

1 4 9 16

In [261]:
for i in  map(square, [1, 2, 3, 4]):
    print(i)

1
4
9
16

In [263]:
def accept(*s):
    print(sum(s))
list = (0, 1, 2, 3, 7.5)
print(sum(list))
accept(*list)

13.5
13.5

In [270]:
def sums(*a):
    print(sum(a))

lists = (1, 3, 5, 7, 9)
sums(lists)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [271]:
def sums(*a):
    print(sum(a))

lists = (1, 3, 5, 7, 9)
sums(*lists)

25